{{!-- <header class="site-header outer {{#if @blog.cover_image}}" style="
    background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header> --}}

<header class="top-log-social home4">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <div class="social text-left">
                    <ul class="social-item">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-2">
                <div class="search-btn text-right">
                    <ul>
                        <li class="nav-item search-box">
                            <a href="#search"><i class="fas fa-search"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>