{{!-- <footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <nav class="site-footer-nav">
            <a href="{{@blog.url}}">Latest Posts</a>
            {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
            {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
            <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </nav>
    </div>
</footer> --}}

<footer class="footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="fwidget-one">
                    <img src="img/logo.png" alt="" />
                    <p>Graphic design is the paradise of individuality, eccentricity, heresy, abnormality, hobbies and
                        humors In both business and personal life, I've always.</p>
                    <p>Found that travel inspires me more than anything else I do. Evidence of the languages, cultures.</p>
                </div>
            </div>
            <div class="col-md-2 offset-md-1">
                <div class="fwidget-link">
                    <h3>Usefull Links:</h3>
                    <ul>
                        <li><a href="#">License</a></li>
                        <li><a href="#">Market API</a></li>
                        <li><a href="#">Become an affiliate</a></li>
                        <li><a href="#">Join Our Team</a></li>
                        <li><a href="#">Our Forums</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </div>
                <!--/.fwidget-link-->
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="fwidget-latest">
                    <h3>Latest Posts:</h3>
                    <ul class="list-unstyled">
                        <li class="media">
                            <img src="img/thumb1.jpg" alt="">
                            <div class="media-body">
                                <a href="#">Design shouldn't have to take a backseat to sustain.</a>
                                <p>Posted 2 days Ago</p>
                            </div>
                        </li>
                        <li class="media">
                            <img src="img/thumb2.jpg" alt="">
                            <div class="media-body">
                                <a href="#">Design shouldn't have to take a backseat to sustain.</a>
                                <p>Posted 4 days Ago</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="copy-right">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-text">
                    <p>&copy; All Rights Reserved by XeroTheme</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>